@import url("/style.css");
:root {
    /* Style Overrides */
    --bg_color:     #18191c;
    --fg_color:     var(--p_fg);
    --header_color: #efa50a;
    --accent_color: #efa50a;
    --link_color:   var(--p_fg);
}
