@import url("/style.css");
:root {
  --grave_bg_color: #0d0c0b;
  --grave_accent_color: #ff7518;
  --grave_link_color: var(--p_fg);
}

body {
  background-color: var(--grave_bg_color);
}

h1, h2, h3 {
  color: var(--grave_accent_color);
}

a {
  color: var(--link_color);
}
