@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
:root {
    --bg_color:#282a36;
    --fg_color: #f8f8f2;
    --accent_color: #bd93f9;
    --font: 'Karla', sans-serif;
}

body {
    background-color: var(--bg_color);
    color: var(--fg_color);
}

a {
    color: var(--accent_color);
}

#user_photo {
    display: block;
    height: 110px;
    width: 110px;
    margin: 35px auto 20px;
    border-radius: 5%;
}

#user_name{
    display: block;
    text-align: center;
    color: #f8f8f2;
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 700;
}

#aliases{
    display: block;
    text-align: center;
    color: #f8f8f2;
    font-family: var(--font);
    font-size: 0.70rem;
    font-weight: 700;
}

#links{
    display: block;
    margin: 27px auto;
    max-width: 500px;
    width: auto;
}

.link_box {
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
    background-color: var(--bg_color);
    border: solid var(--fg_color) 2px;
    color: var(--fg_color);
    font-family: var(--font);
    font-size: 1rem;
    text-decoration: none;
}

.link_icon, .right  {
    flex: 1;
    text-align: left;
}

.link_text {
    align-self: center;
}

.link_box:hover{
    background-color: var(--accent_color);
    border: solid var(--accent_color) 2px;
    color: var(--bg_color);
}

.fab, .fas{
    font-size: 2rem;
}
