@import url("/style.css");

.events-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.current-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--bg_color_alt);
  padding: 5px;
  border-radius: 10px;
  transition: .25s cubic-bezier(.08,.59,.29,.99);
  transition-property: color, background-color, border-color;
}

.past-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc((var(--max-width) / 2) - 20px);
  text-decoration: none;
  background-color: var(--bg_color_alt);
  padding: 5px;
  border-radius: 10px;
  transition: .25s cubic-bezier(.08,.59,.29,.99);
  transition-property: color, background-color, border-color;
}

[class$="-event"] > img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

[class$="-event"]:hover {
  background-color: var(--accent_color);
  color: var(--bg_color_alt);
}

[class$="-event-text"] {
  font-weight: bold;
  font-size: 1.15em;
  padding-top: 5px;
}
